    <script src="https://cdn.jsdelivr.net/npm/bootswatch@5.0.0-beta3/dist/cosmo/bootstrap.min.css" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>   
</body>
</html>